In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
train=pd.read_excel('Data_Train.xlsx')
test=pd.read_excel('Data_Test.xlsx')

In [3]:
train

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300
...,...,...,...,...,...,...,...,...,...
12685,QUICK BITES,13228,"North Indian, Burger, Kebab","12noon – 12midnight (Mon, Tue, Wed, Thu, Sun)...",Hyderabad,Gachibowli,3.8,546 votes,500
12686,"CASUAL DINING,BAR",9686,"Goan, Continental","12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800
12687,LOUNGE,11133,"Finger Food, Continental, Asian, Chinese",12noon – 12:30AM (Mon-Sun),Navi Mumbai,Vashi,4.0,608 votes,1300
12688,CASUAL DINING,6134,"North Indian, South Indian, Chinese, Street Food",6am – 10:45pm (Mon-Sun),Chennai,Maduravoyal,3.5,32 votes,400
12689,CASUAL DINING,6430,"North Indian, Chinese",12:30pm – 11pm (Mon-Sun),Hyderabad,Vanasthalipuram,3.4,677 votes,600

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          12690 non-null  object
 1   RESTAURANT_ID  12690 non-null  int64
 2   CUISINES       12690 non-null  object
 3   TIME           12690 non-null  object
 4   CITY           12578 non-null  object
 5   LOCALITY       12592 non-null  object
 6   RATING         12688 non-null  object
 7   VOTES          11486 non-null  object
 8   COST           12690 non-null  int64
dtypes: int64(2), object(7)
memory usage: 892.4+ KB

In [5]:
train.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [6]:
train.columns.unique

<bound method Index.unique of Index(['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY',
       'RATING', 'VOTES', 'COST'],
      dtype='object')>

In [7]:
for col in train.columns:
    print('Unique values in',col,train[col].nunique())

Unique values in TITLE 113
Unique values in RESTAURANT_ID 11892
Unique values in CUISINES 4155
Unique values in TIME 2689
Unique values in CITY 359
Unique values in LOCALITY 1416
Unique values in RATING 32
Unique values in VOTES 1847
Unique values in COST 86

In [8]:
train.duplicated().sum()

25

In [9]:
train['TITLE'].unique()

array(['CASUAL DINING', 'CASUAL DINING,BAR', 'QUICK BITES',
       'DESSERT PARLOR', 'CAFÉ', 'MICROBREWERY',
       'QUICK BITES,BEVERAGE SHOP', 'CASUAL DINING,IRANI CAFE',
       'BAKERY,QUICK BITES', 'None', 'BAR,CASUAL DINING', 'BAR', 'PUB',
       'BEVERAGE SHOP', 'FINE DINING', 'CAFÉ,QUICK BITES',
       'BEVERAGE SHOP,DESSERT PARLOR', 'SWEET SHOP,QUICK BITES',
       'DESSERT PARLOR,SWEET SHOP', 'BAKERY', 'BAKERY,DESSERT PARLOR',
       'BAR,LOUNGE', 'FOOD COURT', 'LOUNGE',
       'DESSERT PARLOR,BEVERAGE SHOP', 'LOUNGE,CASUAL DINING',
       'FOOD TRUCK', 'QUICK BITES,FOOD COURT', 'SWEET SHOP',
       'BEVERAGE SHOP,FOOD COURT', 'PUB,CASUAL DINING', 'MESS',
       'MICROBREWERY,CASUAL DINING', 'CASUAL DINING,SWEET SHOP', 'KIOSK',
       'QUICK BITES,KIOSK', 'CLUB', 'FINE DINING,BAR',
       'DESSERT PARLOR,QUICK BITES', 'FOOD COURT,QUICK BITES',
       'LOUNGE,CAFÉ', 'BAKERY,CONFECTIONERY', 'CASUAL DINING,CAFÉ',
       'DHABA', 'CAFÉ,DESSERT PARLOR', 'QUICK BITES,DESSERT PARLOR',
       'PUB,MICROBREWERY', 'LOUNGE,BAR', 'DESSERT PARLOR,CAFÉ',
       'CAFÉ,BAR', 'SWEET SHOP,CONFECTIONERY', 'CASUAL DINING,PUB',
       'MICROBREWERY,BAR', 'DESSERT PARLOR,BAKERY',
       'QUICK BITES,SWEET SHOP', 'BEVERAGE SHOP,QUICK BITES',
       'CASUAL DINING,LOUNGE', 'CASUAL DINING,CLUB', 'QUICK BITES,CAFÉ',
       'BAR,CAFÉ', 'CAFÉ,CASUAL DINING', 'QUICK BITES,CASUAL DINING',
       'CASUAL DINING,MICROBREWERY', 'CASUAL DINING,BAKERY',
       'CAFÉ,BAKERY', 'MEAT SHOP', 'QUICK BITES,BAKERY',
       'BAR,FINE DINING', 'SWEET SHOP,CASUAL DINING',
       'MEAT SHOP,QUICK BITES', 'PUB,LOUNGE', 'BAKERY,CAFÉ',
       'COCKTAIL BAR', 'FINE DINING,LOUNGE', 'CONFECTIONERY',
       'QUICK BITES,BAR', 'BAKERY,FOOD COURT', 'PUB,BAR',
       'DESSERT PARLOR,FOOD COURT', 'QUICK BITES,FOOD TRUCK',
       'BAKERY,BEVERAGE SHOP', 'CLUB,BAR', 'BAKERY,SWEET SHOP',
       'SWEET SHOP,BAKERY', 'CASUAL DINING,FOOD COURT', 'PAAN SHOP',
       'BEVERAGE SHOP,CAFÉ', 'FOOD COURT,DESSERT PARLOR',
       'CLUB,MICROBREWERY', 'CAFÉ,BEVERAGE SHOP',
       'DESSERT PARLOR,PAAN SHOP', 'MICROBREWERY,LOUNGE', 'LOUNGE,CLUB',
       'SWEET SHOP,DESSERT PARLOR', 'BAR,PUB',
       'CONFECTIONERY,QUICK BITES', 'DESSERT PARLOR,KIOSK', 'LOUNGE,PUB',
       'SWEET SHOP,BEVERAGE SHOP', 'FINE DINING,CAFÉ',
       'BEVERAGE SHOP,CASUAL DINING', 'KIOSK,QUICK BITES',
       'CASUAL DINING,DESSERT PARLOR', 'LOUNGE,FINE DINING', 'PUB,CAFÉ',
       'CAFÉ,LOUNGE', 'BAR,CLUB', 'COCKTAIL BAR,CASUAL DINING',
       'MICROBREWERY,PUB', 'CAFÉ,FINE DINING', 'KIOSK,FOOD COURT',
       'LOUNGE,MICROBREWERY', 'BAR,MICROBREWERY'], dtype=object)

In [10]:
train['CUISINES'].unique()

array(['Malwani, Goan, North Indian', 'Asian, Modern Indian, Japanese',
       'North Indian, Chinese, Biryani, Hyderabadi', ...,
       'North Indian, Burger, Kebab', 'Goan, Continental',
       'Finger Food, Continental, Asian, Chinese'], dtype=object)

In [11]:
train['CITY'].unique()

array(['Thane', 'Chennai', 'Mumbai', 'Bangalore', 'Gurgaon', 'Hyderabad',
       'Kochi', 'Thane West', 'Andheri Lokhandwala', 'New Delhi',
       'Andheri West', 'Malad East', '682036', 'Bangalor', 'Navi Mumbai',
       'Bandra West', 'Delhi', 'Noida', 'Bangalore-560066',
       'Secunderabad', nan, 'India', 'Madhuranagar', 'Chennai Teynampet',
       'Faridabad', 'Chembur.', 'Maharashtra', 'opp gurudwara Shakurpur',
       'Telagana Land Line:040-48507016', 'Ghaziabad', 'Karnataka',
       'Kerala', 'Edappally', 'Kadavanthra', 'Ernakulam Circle kochi',
       'Bengalore', 'Near Reliance Fresh', 'Kilpauk', 'Bengaluru',
       'Kothaguda', 'Goregaon West', 'Banglore', 'Tamil Nadu', 'Kakkanad',
       'Kochi Elamkulam', 'Outer Ring Road', 'Mulund East',
       'Secunderabad main road near signal NMREC COLLEGE', 'Telangana',
       'Ponnuruni Kochi', 'Gachibowli', 'Semmancheri',
       '5th Main Teachers Colony Koramangala Block 1 Bangalore 560034',
       'Mumbai Mahim', 'Powai (Next to Powai Plaza)', 'Dombivali East',
       'Kochi Vyttila', 'Kandivali', 'Kochi Palarivattom',
       'Dewan Rama Road', 'Gurugram', 'Sector 51 Noida', 'Kaloor',
       'Besant Nagar', 'Arumbakkam chennai-600106.',
       'Adjacent To Commercial Street', 'Delhi NCR', 'Dwarka', '682035.',
       'Kalyan West', 'Avadi', 'Kondapur', 'Mehdipatnam', 'Gandipet',
       'Velachery', 'Pallavaram', 'Vijaya Nagar', 'BTM Layout',
       'Chennai 600034.',
       'Metro Pillar No 21. Mettuguda main road near railway degree college.',
       'Chennai - 600040', 'JP Nagar Bangalore', 'Madhapur', 'Ernakulam',
       'Sarjapur', 'Whitefield Bangalore', 'Kochi Chullickal',
       'Kochi-683101', 'Bangalore - 560076', 'Rohini',
       'Hyderabad Behind Vacs Pastries', 'Hyderabad neerus emporium.',
       'Navi Mumbai.', 'Karol Bagh', 'Perungudi', 'Thykoodam',
       'Greater Noida', 'Bangalore.', 'Khairatabad', 'chullickal',
       'Grant Road West', 'Hitech City', 'West Maredpally',
       'Mumbai - 400007', 'Chennai Padur', 'Chander Nagar New Delhi',
       'Nedumbassery', 'MG Road', 'Naya Nagar Mira Road', 'Pitampura',
       'Lower Parel', 'HBR Layout', 'Telangana 500003',
       'Rajiv gandhi Nagar', 'New Delhi.', 'Medavakkam', 'Sathya Nagar',
       'p.o Kochi', 'Behind Ramalayam Temple', 'Palarivattom',
       'Brigade Road', 'Mumbai.', 'Mumbai Andheri East', 'Virar West',
       'B-1 Stage', 'Chennai Kovalam', 'Hyderabad.', 'Aluva',
       'Telangana 500034', 'IOB Bank Kamala Nagar', 'HSR Layout',
       'Marine Drive', 'DLF Galleria', 'Nallathambi Main Road',
       'Chennai opp: Vasanth & co', 'Citypark', 'Karnataka 560103',
       'Bhayandar', 'Aluva Circle', 'Thammenahalli Village', 'SG Palya',
       'Attapur.', 'Near Shangrilla Bus Stop', 'Khar (west)', 'Road 3',
       'Kukatpally', 'Faridabd', 'Telangana 500032', 'Dilsukhnagar',
       'Mogappair. Chennai', 'Near Munrshwara Temple', 'Off Brigade Road',
       'khar west', 'Potheri', 'Chennai Perungudi',
       'Chennai Thuraipakkam', 'OMR Karapakkam', 'Hyderabad-500032',
       'Mumbai Dombivali East', 'Chennai Thousand Lights', 'Mahim',
       'Lingampally', 'Powai', 'New Delhi-110024', 'Chennai- 600107',
       'Kerala 683104', 'Vasai West.', 'Thane (W)',
       'Near Santosh Banjara Hyderabad',
       'Banaswadi (Next to Indian Bank) Bangalore', 'BTM Bangalore',
       'Greater Kailash 2 New Delhi', 'Secunderabad ECIL',
       'Bangalore Koramangala 7th Block', 'bangalore : 560085',
       'navi mumbai', 'Gachibowli Hyderabad',
       'CPR layout harlur main road opposite to ozone ever green apartment Bangalore -',
       'ECR NEELANKARAI Chennai 600115', 'ward X11', 'kochi',
       'Perumbavoor', 'Mira raod east', 'Kerala 682013', 'Chennai.',
       'Pokhran Road 2', 'Uttar Pradesh', 'Karnataka 560102',
       'Mumbai - 400013', 'Naharpar', 'Hosur Road',
       'Near Bharat Petroleum.', 'Chennai (Bang Opposite Indian Bank)',
       'Sriram nagar', 'West Mumbai', 'Vyttila', 'Banjara Hills',
       'MALAPALLIPURAM P .O THRISSUR', 'Andheri west Mumbai',
       'Karnataka 560043', 'Panampilly Nagar', 'hyderabad',
       'Borivali East.', 'ECIL', 'Jubilee Hills',
       'Amrit kaur market opposite new delhi railway station paharganj',
       'Chennai Opposite 5C Bus stand', 'Telengana', 'Kochi Ravipuram',
       'Rajanpada', 'Mahabalipuram', 'Secunderabad. WE HAVE NO BRANCHES.',
       'Telangana 500081', 'Gurgoan', 'Elamakkara', 'Sector 1',
       'Bandra W', 'Kolathur', 'Chennai Mahabalipuram', '3rd Street',
       'Mumbai Chakala', 'Borivali West', 'Rodeo Drive Sector 49',
       'Pallimukku', 'Delhi 110085', 'Sector 51', 'Champapet',
       'Andavar Nagar', 'Bangalore - 560103', 'Kerala 690525',
       'opp mukteshwar ashram powai', 'Nungambakkam', 'BK Guda',
       'Jogeshwari (w) Mumbai', 'Kukatapally', 'Near Sector 110 Noida',
       'Navallur', 'Beside Excellency Gardens', 'Mumbai - 80', 'Begumpet',
       'Maharaja Hotel Beside Gardania Bar', 'Ashok Vihar Phase 1',
       'Trivandrum', 'Kochi-18', 'Narayanguda', 'Thevera', 'Chennai-40',
       'Palm Beach Road', 'East Coast Road (ECR)', 'Ramapuram',
       'Chennai Chrompet', 'Nandanam', 'Saket', 'MG Road Ernakulam',
       'Andheri Lokhandwala.', 'Indiranagar', 'Thiruvanmiyur', 'Ambattur',
       'Banglaore', 'Chennai - 34 Landmark - Near Loyola College',
       'Anna Nagar West', 'Old Railway Road', 'East Mumbai',
       'Kanakapura Road Banglore', 'Kochi Kakkanad', 'Kalyan',
       'Near Ramlila Ground', 'Serilingampally', 'Himayath Nagar',
       'Nallala Street', 'Anna Salai', 'Old Delhi', 'Wagle Estate',
       '1st Stage', 'Kochi-16', 'Kochi International Airport VIP Road',
       'First Street', 'Chenn ai', '6 & 7 - 4/64 Subhash Nagar',
       '1st Tavarekere', 'Perambur', 'Vaishali Ghaziabad', 'Thanisandra',
       'Block F', 'Sector 7 Dwarka', 'Opposite Barathi Gas Company',
       'Vadapalani', 'Kondapur.', 'Badlapur West.', 'Kalamassery',
       'Palavakkam', 'TCS Synergy park', 'BTM 1st Stage', 'Mahadevpura',
       'NEW BEL ROAD 560054',
       'Veliaveetil house Vivekananda Nagar Elamakkara', 'Sholinganallur',
       'Maharashtra 400102', 'Lower Parel West', 'Tripunithura',
       'Mogappair', 'Telangana 500070', 'JP Nagar', 'Navi-Mumbai',
       'Ashok Nagar', 'Marathahalli', 'Haridwar Apartments',
       'Kerala 682001 India', 'Karnataka 560037', 'Kerala 683585',
       'Chennai. (Near Hotel Matshya)', 'Indirapuram',
       'Begumpet Hyderabad', 'Manikonda',
       'Bangalore land mark above mahaveer hard ware', 'Kerala 682304',
       'Rajarajeshwari Nagar bangalore', 'GST Road', 'Fort Kochi',
       'Lahari Apartments', 'Ramanthapur', 'Mulund west',
       'Gurgaon Haryana India', 'New Delhi..Near by SBI bank',
       'Kochi Aluva 102', 'Phase 1 Bangalore', 'Hyderabad Manikonda',
       'Mumbai This is a Delivery & Take-away Restaurant only.',
       '10th avenue', 'Uppal', 'New Delhi 110075', 'Nizampet', 'Ulsoo',
       'Bangalore 560076', 'PVR plaza cinema building Connaught Place',
       'Gurgaon Haryana', 'Chromepet', 'Kerala 682024', 'Janakpuri',
       'Secunderabad.', 'chennai', 'B.B.M.P East (Karnataka) - 560049',
       'Tambaram', 'Malleshwaram Bangalore', 'Vadapalani.',
       'Dist. Center New Delhi', 'Bangalore Road', 'aluva circle',
       'Kochi.', 'Thane Mumbai', 'Kadubesanahalli Bangalore',
       'Vasai west', 'Mig Housing Society', 'Haryana', 'Borivali West.',
       'Golf Course Road', 'Khar Mumbai', 'Near Jyothinivas College',
       'Anna Nagar East', 'Masab Tank'], dtype=object)

In [12]:
train['RATING'].unique()

array(['3.6', '4.2', '3.8', '4.1', '4.0', '4.3', '3.9', '3.3', '3.4', '-',
       '4.5', '3.5', '4.4', '2.7', '3.7', '4.7', 'NEW', '3.1', '2.5',
       '4.6', '2.8', nan, '3.0', '3.2', '2.6', '2.9', '4.9', '4.8', '2.4',
       '2.3', '2.0', '2.1', '2.2'], dtype=object)

In [13]:
train['VOTES'].unique()

array(['49 votes', '30 votes', '221 votes', ..., '2723 votes',
       '1426 votes', '1214 votes'], dtype=object)

In [14]:
train['RATING']=train['RATING'].str.replace('NEW','1')

In [15]:
train['RATING']=train['RATING'].str.replace('-','1')

In [16]:
train['RATING']=train['RATING'].str.replace('nan','1')

In [17]:
train['RATING']=train['RATING'].astype(float)

In [18]:
train['RATING']=train['RATING'].replace(np.NAN,1)

In [19]:
train['VOTES'] = train['VOTES'].str.replace(' votes', '').astype(float)

In [20]:
train['VOTES'].fillna(0.0,inplace=True)

In [21]:
train['CITY'].fillna('Unknown',inplace=True)

In [22]:
train['LOCALITY'].fillna('Unknown',inplace=True)

In [23]:
train['COST'].astype(float)

0        1200.0
1        1500.0
2         800.0
3         800.0
4         300.0
          ...
12685     500.0
12686    1800.0
12687    1300.0
12688     400.0
12689     600.0
Name: COST, Length: 12690, dtype: float64

In [24]:
train.head(10)

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49.0,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30.0,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221.0,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24.0,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165.0,300
5,CASUAL DINING,5618,"North Indian, Chinese, Seafood, Biryani",12noon – 12:30AM (Mon-Sun),Mumbai,Vile Parle West,4.0,550.0,800
6,CAFÉ,4383,"Cafe, Chinese, Pizza, North Indian, Burger","12noon – 11:30pm (Mon, Tue, Thu, Fri, Sat, Sun...",Bangalore,Koramangala 6th Block,4.1,509.0,600
7,MICROBREWERY,1249,Bar Food,1pm – 1am (Mon-Sun),Gurgaon,Sector 29,4.3,1612.0,1600
8,QUICK BITES,7062,"South Indian, North Indian",7am – 10:30pm (Mon-Sun),Bangalore,Bannerghatta Road,3.9,101.0,300
9,QUICK BITES,10109,North Indian,"11am – 2pm, 4pm – 10:30pm (Mon-Sun)",Hyderabad,Dilsukhnagar,3.3,219.0,200

In [25]:
train.drop('TIME',inplace=True,axis=1)

In [26]:
train.drop('RESTAURANT_ID',inplace=True,axis=1)

In [27]:
train

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,"Malwani, Goan, North Indian",Thane,Dombivali East,3.6,49.0,1200
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,Ramapuram,4.2,30.0,1500
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,Saligramam,3.8,221.0,800
3,QUICK BITES,"Tibetan, Chinese",Mumbai,Bandra West,4.1,24.0,800
4,DESSERT PARLOR,Desserts,Mumbai,Lower Parel,3.8,165.0,300
...,...,...,...,...,...,...,...
12685,QUICK BITES,"North Indian, Burger, Kebab",Hyderabad,Gachibowli,3.8,546.0,500
12686,"CASUAL DINING,BAR","Goan, Continental",Mumbai,Bandra Kurla Complex,4.3,1214.0,1800
12687,LOUNGE,"Finger Food, Continental, Asian, Chinese",Navi Mumbai,Vashi,4.0,608.0,1300
12688,CASUAL DINING,"North Indian, South Indian, Chinese, Street Food",Chennai,Maduravoyal,3.5,32.0,400
12689,CASUAL DINING,"North Indian, Chinese",Hyderabad,Vanasthalipuram,3.4,677.0,600

In [28]:
train=pd.get_dummies(train,columns=['TITLE','CUISINES','CITY','CITY','LOCALITY'],prefix=['TITLE','CUISINES','CITY','CITY','LOCALITY'])

In [29]:
train

,RATING,VOTES,COST,TITLE_BAKERY,"TITLE_BAKERY,BEVERAGE SHOP","TITLE_BAKERY,CAFÉ","TITLE_BAKERY,CONFECTIONERY","TITLE_BAKERY,DESSERT PARLOR","TITLE_BAKERY,FOOD COURT","TITLE_BAKERY,QUICK BITES",...,LOCALITY_near Andhra Prabha office,LOCALITY_near swarn nagri,LOCALITY_nizampet,LOCALITY_nungambakkam,LOCALITY_perungudi,LOCALITY_rajendra nagar,LOCALITY_seawoods grand central mall,LOCALITY_sector 42,LOCALITY_shop 7 shikrupa socity,LOCALITY_shop no. 3 Sector 22
0,3.6,49.0,1200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.2,30.0,1500,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.8,221.0,800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.1,24.0,800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.8,165.0,300,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12685,3.8,546.0,500,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12686,4.3,1214.0,1800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12687,4.0,608.0,1300,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12688,3.5,32.0,400,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12689,3.4,677.0,600,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [31]:
y=train['COST']

In [32]:
x=train.drop('COST',axis=1)

In [33]:
x=scaler.fit_transform(x)

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.70,random_state=120)

In [36]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [37]:
model=[RandomForestRegressor()]

In [38]:
for m in model:
    m.fit(x_train,y_train)
    print('The score of',m,'is',m.score(x_train,y_train))
    predm=m.predict(x_test)
    print('Errors')
    print('Mean Squared Error',mean_squared_error(y_test,predm))
    print('Mean Absolute Error',mean_absolute_error(y_test,predm))
    print('R2 Score',r2_score(y_test,predm))
    print('*************************************************************************')
    print('\n')

The score of RandomForestRegressor() is 0.9554986556639691
Errors
Mean Squared Error 124330.25857587598
Mean Absolute Error 200.3683949906586
R2 Score 0.6846121482020774
*************************************************************************

In [39]:
from sklearn.model_selection import cross_val_score

In [ ]:
score=cross_val_score(RandomForestRegressor(),x,y,cv=7,scoring='r2')
print('Score is',score)
print('Mean Score',score.mean)
print('Standard Deviation',score.std)

In [ ]:
rom sklearn.ensemble import AdaBoostRegressor
rfr=RandomForestRegressor()

adb=AdaBoostRegressor(base_estimator=rfr,n_estimators=20,learning_rate=0.1,random_state=)
adb.fit(x_train,y_train)
print('Score:',adb.score(x_train,y_train))
predadb=adb.predict(x_test)
print('\n')
print('Mean absolute error:',mean_absolute_error(y_test,predadb))
print('Mean squared error:',mean_squared_error(y_test,predadb))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,predadb)))
print('\n')
print('r2_score:',r2_score(y_test,predadb))